<mat-card class="mat-elevation-z4">
    <mat-card-title class="text-oneline">
        {{persona.nome}} {{persona.cognome}}
    </mat-card-title>
    <img *ngIf="persona.sesso == 'm'" src="https://thumbs.dreamstime.com/b/businessman-icon-image-male-avatar-profile-vector-glasses-beard-hairstyle-179728610.jpg">
    <img *ngIf="persona.sesso == 'f'" src="https://cdn1.iconfinder.com/data/icons/avatars-1-5/136/60-512.png">
    <mat-card-content>
        <p>Sesso: {{persona.sesso}}</p>
        <p>Data nascita: {{persona.dataNascita}}</p>
    </mat-card-content>
    <mat-card-actions>
        <button (click)="deleteUser(persona.id)" mat-button>DELETE</button>
        <button (click)="editUser(persona)" mat-button>EDIT</button>
    </mat-card-actions>
</mat-card>